h2 {
    margin: 30px;
    text-align: center;
}

.cont-select {
    position: relative;
    width: 200px;
    /* width: 50%; */
    margin: 0 auto;
}

.btn-select {
    width: 100%;
    padding: 13px 14px;
    font-size: 12px;
    line-height: 14px;
    background-color: white;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    text-align: left;
    background: url('./src/icon-Triangle-down.png') center right 14px no-repeat;
    /* 말줄임: txt가 길어질 경우를 대비 */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: all 0.2s ease-out;
}

.btn-select:hover, .btn-select:focus {
    border: 1px double #5b5de4;
    outline: 3px solid #ccc5f3;
}

.list-member {
    display: none;
    position: absolute;
    width: 100%;
    top: 49px;
    left: 0;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.btn-select.on {
    background: url('./src/icon-Triangle-up.png') center right 14px no-repeat;
}

.btn-select.on + .list-member {
    display: block;
}

.list-member li {
    height: 40px;
    padding: 5px 8px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.list-member li button {
    width: 100%;
    padding: 7px 10px;
    border: none;
    background-color: #fff;
    border-radius: 8px;
    cursor: pointer;
    text-align: left;
    /* 말줄임: txt가 길어질 경우를 대비 */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.list-member li button:hover, .list-member li button:focus {
    background-color: #ccc5f3;
    color: white;
}