body {
	height: 1000vh;
}

.gnb {
	display: flex;
    justify-content: space-between;
	width: 1296px;
	height: 70px;
	margin: 0 auto;
}

.gnb .logo-img {
	height: 30px;
	padding-top: 16px;
}

.gnb .menu {
	display: flex;
	justify-content: space-evenly;
	line-height: 70px;
	font-size: 15px;
	font-weight: bold;
	margin-left: 70px;
	letter-spacing: -1px;
}

.gnb .menu li {
	padding: 0 25px;
}

.gnb .menu:hover li a {
	color:gainsboro
}

.gnb .menu li:hover a{
	color: black;
}

.gnb .icon {
	display: flex;
	line-height: 70px;
}

.gnb .icon li {
	padding: 0 10px;
}

.gnb .icon button {
	padding: 4px;
	border: 3px solid rgba(0, 0, 0, 0);
	border-radius: 100%;
	background-color: transparent;
}

.gnb .icon button:hover {
	cursor: pointer;
	background-color: rgba(128, 128, 128, 0.096);
}

.gnb .icon .bi {
	font-size: 20px;
}

#page-main {
	max-width: 1334px;
	margin: 0 auto;
}

.tit-main {
	max-width: 1296px;
	margin: 0 auto;
	padding: 96px 0;
	font-size: 45px;
	font-weight: bold;
	letter-spacing: -4px;
}

.tit-main .tit {
	display: flex;
	margin-bottom: 8px;
}

.tit-main .tit img {
	width: 70px;
}

.tit-main .tit h3 {
	line-height: 70px;
	padding-left: 10px;
}

.cont-wrap {
	display: flex;
}

.item-wrap {
	flex: 1;
	height: 870px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	position: relative;
	margin: 0 18px;

}

.item {
	transition: all .3s ease-in-out;
	border: 1px solid #eee;
	border-radius: 14px;
	box-shadow: 4px 12px 30px 6px rgba(0, 0, 0, 9%);
	/* padding: 25px 24px; */
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}


.item:hover {
  transform: translateY(-6px);
  box-shadow: 5px 7px 15px 8px rgba(0, 0, 0, 0.123);
}

.item-big {
	width: 630px;
	height: 700px;
	border: 1px solid #eee;
	border-radius: 14px;
	box-shadow: 4px 12px 30px 6px rgba(0, 0, 0, 9%);
	padding: 25px 24px;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}

.item-sticky {
	position: sticky;
	position: -webkit-sticky;
	top: 0px;
}

.item .item-info {
	display: flex;
	justify-content: center;
}

.item-info .item-type {
	display: flex;
	flex-grow: 1;
}

.item-info .item-type img {
	width: 36px;
	height: 36px;
	margin-right: 8px;
}

.item-info .item-type .txt-box {
	font-size: 13px;
	line-height: 34px;
	background-color: #eee;
	height: 34px;
	padding: 0 13px;
	border-radius: 13px;
	position: relative;
	letter-spacing: -2px;
}

.item-info .item-type .txt-box::before {
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	background-image: url('./img/txt-box-icon.svg');
	background-size: cover;
	top: 0;
	left: -4px;
}

.item-info .item-type .txt-new::after {
	content: '';
	position: absolute;
	width: 5px;
	height: 5px;
	background: rgb(224, 31, 31);
	top: 0px;
	left: 75px;
	border-radius: 100%;
}

.cont-wrap button {
	position: absolute;
	content: '';
	top: 30px;
	right: 7px;
	background-color: transparent;
	border: 0;
	cursor: pointer;
}

.cont-wrap button .bi-three-dots-vertical {
	font-size: 18px;
	color: rgb(202, 202, 202);
}

.item a{
	display: block;
	margin-top: 15px;
}

.item-big .item-tit {
	display: block;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: -2px;
	line-height: 46px;
	margin-right: 50px;
}

.item-tag {
	position: absolute;
	content: '';
	display: block;
	margin: 24px 0;
	font-size: 13px;
	color: #727272;
}

.item-img {
	position: absolute;
	margin: 60px -24px;
	width: 120%;
	height: 120%;
	background-color: #FAE100;
}

.item-mid {
	width: 297px;
	height: 420px;
	border: 1px solid #eee;
	border-radius: 14px;
	box-shadow: 4px 12px 30px 6px rgba(0, 0, 0, 9%);
	padding: 25px 24px;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}

.item-mid .item-tit {
	display: block;
	font-size: 21px;
	font-weight: bold;
	letter-spacing: -2px;
	line-height: 32px;
}

.item-small {
	width: 297px;
	height: 192px;
	border: 1px solid #eee;
	border-radius: 14px;
	box-shadow: 4px 12px 30px 6px rgba(0, 0, 0, 9%);
	padding: 25px 24px;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}

.item-stock {
	display: flex;
	position: relative;
	font-size: 40px;
	letter-spacing: 1px;
	padding-bottom: 21px;
}

.item-stock::after {
	content: '▼3500';
	font-size: 14px;
	color: #4e7edf;
	position: absolute;
	left: 170px;
	top: 15px;
}

.item-small .item-tit {
	display: block;
	margin-top: 10px;
	width: 220px;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: -2px;
	line-height: 32px;
}

.culture-wrap {
	height: 540px;
	border: 1px solid #eee;
	border-radius: 14px;
	box-shadow: 4px 12px 30px 6px rgba(0, 0, 0, 9%);
	margin: 36px 18px;
}

.culture-txt {
	display: block;
	text-align: center;
	font-size: 40px;
	font-weight: 700;
	padding: 62px 0 45px;
	letter-spacing: -2px;
}

.culture-btn {
	display: block;
	margin: 0 auto;
	padding: 8px 20px;
	box-sizing: border-box;
	border: 1px solid black;
	border-radius: 42px;
	background-color: black;
	color: white;
	letter-spacing: -1.5px;
	font-size: 14px;
	line-height: 20px;
	cursor: pointer;
}

.culture-btn .ico_arr {
	width: 14px;
	margin: 5px 0 0 5px;
}

.culture-img {
	background-color: #FAE100;
	width: 900px;
	height: 240px;
	margin: 54px auto;
}

.item-help {
	font-size: 16px;
	font-weight: 700;
	line-height: 70px;
	background-color: #FEE102;
	padding: 10px 25px;
	border-radius: 13px;
	position: relative;
	letter-spacing: -2px;
	cursor: default;
}

.item-help::before {
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	background-image: url('./img/txt-box-icon-yellow.svg');
	background-size: cover;
	left: -4px;
	top: 0;
	z-index: -10;
	
}

.item-site {
	display: flex;
	justify-content: space-around;
}
.item-site li {
	font-size: 15px;
	background-color: #eee;
	height: 42px;
	padding: 0 20px;
	border-radius: 13px;
	letter-spacing: -2px;
	font-weight: 700;
}

.item-site a {
	color: #666;
}

.item-wrap-long {
	height: 1104px;
}

@media screen and (max-width:1422px) {

	.tit-main {
		font-size: 36px;
		line-height: 25px;
	}

	.tit-main .tit h3 {
		line-height: 55px;
	}

	.tit-main .tit img {
		width: 55px;
		height: 55px;
		
	}
	.item-wrap {
		height: 1740px;
	}
	
	.gnb {
		max-width: 952px;
	}

	.tit-main {
		margin: 0 15px;
	}

	#page-main {
		max-width: 982px;
	}

	.culture-wrap {
		margin: 30px 0 30px 18px;
	}

	.item-wrap-long {
		height: 2208px;
	}
}

@media screen and (max-width:1005px) {
	.tit-main {
		font-size: 30px;
		padding: 48px 0;
		margin: 0;
	}

	.tit-main .tit h3 {
		line-height: 40px;
	}

	.tit-main .tit img {
		width: 40px;
		height: 40px;
	}

	#page-main, .gnb {
		max-width: 630px;
	}

	.menu, .icon {
		visibility: hidden;
	}

	.cont-wrap {
		flex-direction: column;
		/* flex-basis: auto; */
	}

	.item-wrap {
		height: 870px;
		margin: 18px 0;
		flex-basis: auto;
		/* justify-content: space-around; */
		/* padding: 25px 24px; */
	}

	.culture-wrap {
		width: 630px;
		height: auto;
		margin: 18px 0;
	}

	.culture-txt {
		font-size: 36px;
		line-height: 52px;
	}

	.culture-btn {
		margin-top: 24px;
	}

	.culture-img {
		max-width: 420px;
		height: 420px;
		margin: 44px auto;
	}

	.mid-item-wrap {
		order: 2;
	}

	.item-wrap-long {
		height: 1104px;
	}
	
	.big-item-wrap {
		position: relative;
		height: 750px;
	}

	
}