a {
	text-decoration: none;
	color: black;
}

.gnb {
	display: flex;
    justify-content: space-between;
	width: 1296px;
	height: 70px;
	margin: 0 auto;
}

.logo {
	height: 30px;
	padding-top: 16px;
}

.menu {
	display: flex;
	justify-content: space-evenly;
	line-height: 70px;
	font-size: 15px;
	font-weight: bold;
	margin-left: 70px;
	letter-spacing: -1px;
}

.menu li {
	padding: 0 25px;
}

.menu li:hover {
	opacity: 50%;
}

.icon {
	display: flex;
	line-height: 70px;
}

.icon li {
	padding: 0 10px;
}

.icon button {
	padding: 4px;
	border: 3px solid rgba(0, 0, 0, 0);
	border-radius: 100%;
	background-color: transparent;
}

.icon button:hover {
	cursor: pointer;
	background-color: rgba(128, 128, 128, 0.096);
}

.bi {
	font-size: 20px;
}

main {
	width: 1296px;
	margin: 0 auto;
}

.main-section {
	padding-top: 96px;
	font-size: 45px;
	font-weight: bold;
	letter-spacing: -4px;
}

.title {
	display: flex;
	margin-bottom: 8px;
}

.title img {
	width: 70px;
}

.title em {
	line-height: 70px;
	padding-left: 10px;
}