@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}

/* */

body {
    background-color: #5b2386;
    font-family: 'GmarketSansMedium';
    color: white;
    text-align: center;
}

.tit {
    margin: 124px 0;
    position: relative;
}

.tit::after {
    margin: -130px 0 0 -130px;
    position: absolute;
    content: '';
    background-image: url('../img/clock.png');
    background-size: cover;
    width: 265px;
    height: 265px;
    top: 50%;
    left: 50%;
}

.tit .img-tit {
    margin: 0 auto;
    position: relative;
    z-index: 10;
}

.img-quo {
    margin: 0 auto 50px;
}

.txt-quo {
    position: relative;
    font-size: 18px;
    line-height: 34px;
    width: 485px;
    margin: 0 auto 97px;
}

.txt-quo::before, .txt-quo::after {
    position: absolute;
    content: '';
    width: 37px;
    height: 32px;
    top: 25%;
    display: block;
}

.txt-quo::before {
    background-image: url('../img/“.png');
}

.txt-quo::after {
    right: 0;
    background-image: url('../img/”.png');
}

.txt-quo strong {
    font-size: 20px;
    font-family: 'GmarketSansBold';
}

.txt-inp, .txt-result {
    font-size: 20px;
}

.txt-inp .txt-want {
    margin-bottom: 20px;
}

.txt-inp .txt-want input, .txt-inp .txt-time input {
    margin: 0 15px;
    padding: 15px 20px;
    border: none;
    border-radius: 7px;
    font-size: 20px;
    font-family: 'GmarketSansMedium';
    width: 200px;
}

.txt-inp .btn-result, .txt-result .btn-go, .txt-result .btn-share {
    margin: 110px 0 100px 0;
    padding: 10px 40px;
    position: relative;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    font-family: 'GmarketSansBold';
    background-color: #FCEE21;
    color: #5b2386;
    cursor: pointer;
}

.txt-inp .btn-result::after {
    position: absolute;
    content: '';
    background-image: url('../img/click.png');
    width: 64px;
    height: 72px;
    left: 50%;
    margin-left: 250px;
}

.txt-result strong {
    padding: 0 15px;
    font-size: 70px;
    vertical-align: middle;
    font-family: 'GmarketSansBold';
}

.txt-result .txt-want {
    margin-bottom: 35px;
}

.txt-result .btn-share {
    margin-left: 20px;
    background-color: white;
    line-height: 32px;
}

footer {
    padding: 0 0 70px;
    font-size: 10px;
    line-height: 15px;
    font-family: 'Noto Sans KR';
}

footer .img-footer {
    margin: 0 auto 20px;
}

